body {
    background-image: url("img/samurai.jpg");
    background-image: no-repeat;
    background-color: darkgray; 
    color: white; 
}

h1 {
    text-align: center; 
    position: relative; 
    left: 50px; 
    font-size: 70px;
}

button {
    position: relative; 
    left: 48%;  
    height: 35px;
    width: 150px; 
    bottom: 30px; 
    font-weight: bold;
}
#warriorMind {
    text-align: center;
    position: relative; 
    top: 500px;
    left: 50px; 
    font-size: 20px; 
    width: 70%; 
    margin: auto; 
}